<%- include('../layouts/header', {title: 'TODO-List'}) %>
<%- include('../layouts/menu') %>

<section class="hero is-primary is-fullheight-with-navbar">
  <div class="hero-body has-text-centered">
    <div class="container">
      <p class="title">
        TODO List
      </p>
      <p class="subtitle">
        Gerencie suas atividades diárias =D
      </p>
      <a href="/checklists" class="button is-light is-outlined">Ir para Listas de Tarefas</a>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>